/* FUENTE GEOLOGICA DE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Ysabeau+SC&display=swap');
/* font-family: 'Geologica', sans-serif;
   font-family: 'Ysabeau SC', sans-serif; */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html {
    font-size: 62, 5%;
    font-family: 'Geologica', sans-serif;
}

/* END RESET */

body {
    background-color: #e6f8f6;
}

.gridcontainer {
    display: grid;
    width: 50rem;
    height: 30rem;
    margin: auto;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

/* GENERAL HEADER START */
.bg-nav {
    background: rgb(99, 255, 245);
    background: linear-gradient(90deg, rgba(99, 255, 245, 1) 0%, rgba(128, 190, 251, 1) 46%, rgb(210, 244, 249));
}

.img-logo {
    width: 6rem;
}

.li-edit:hover {
    color: rgb(246, 45, 45);
}

.dw-colors {
    background-color: rgb(255, 90, 90);
    text-decoration: underline;
}

.dw-colors:hover {
    background-color: rgba(249, 3, 3, 0.4);
}

.sb-edit:focus {
    border: 2px solid rgba(249, 3, 3, 0.3);
}

/* GENERAL HEADER END */
/* INDEX MAIN START */

.main__tittle {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 0 3rem 0 3rem;
    background-image: url('../img/bannerojos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70rem;
    color: white;
}

@media screen and (max-width: 992px) {
    .main__tittle {
        background-size: 50rem;
    }
}

@media screen and (max-width: 689px) {
    .main__tittle {
        background-image: none;
        color: #fc7f7f;
    }
}


.main__tittle:hover {
    transition: transform 0.7s ease;
    transform: scale(1.1);
}

.slide {
    margin-top: 10px;

}

.slide img {
    height: 65vh;
}

.cr_bt {
    color: rgb(249, 124, 124);
    font-weight: bold;
}


/* INDEX MAIN END */
/* INDEX SECTION ONE START */
.subtittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem 5rem 2rem;
    background-color: #00e6f6;
    border-radius: 40px;
    background: rgb(99, 255, 245);
    background: linear-gradient(90deg, rgba(99, 255, 245, 1) 0%, rgba(128, 190, 251, 1) 46%, rgb(210, 244, 249));
    text-transform: uppercase;
    color: white;
}

.subtittle__h2 {
    padding: 1rem;
}

.flexcontainer__section1 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
}

.section1__article {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 40px 0;
    gap: 13px;

}

.section1__img {
    width: 30rem;
    margin: 10px
}

.section1__img:hover {
    transition: transform 0.4s ease;
    transform: scale(1.1);
}

.section__button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    letter-spacing: 2px;
    color: #f76565;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.section__button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.section__button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.section__button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #f04c4c;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.section__button:hover {
    color: #ffffff;
    border: 1px solid #f04c4c;
}

.section__button:hover:before {
    top: -35%;
    background-color: #f04c4c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.section__button:hover:after {
    top: -45%;
    background-color: #f04c4c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.section__p {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #f04c4c;
    border-radius: 15px;
    padding: 15px;
}

/* INDEX SECTION ONE END */

/* INDEX SECTION TWO START */

.flexcontainer__section2 {
    display: flex;
    justify-content: center;
    margin-bottom: 12rem;
}

.section2 {
    margin-top: 3rem;
}

.section2__article {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 10px;

}

.section2__img {
    width: 30rem;
    margin: 10px;
}

.section2__img:hover {
    transition: transform 0.4s ease;
    transform: scale(1.1);
}

/* INDEX SECTION TWO END */

/* INDEX ASIDE START */
.flexcontainer__aside {
    display: flex;
    align-items: center;
    margin: 10rem;
    flex-direction: column;
    gap: 40px;
    font-size: 1.3rem;
    background-image: url('../img/banner\ shinobi.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50rem;
}

@media screen and (max-width: 768px) {
    .flexcontainer__aside {
        background-size: 50rem;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside {
        background-image: none;
    }
}

.flexcontainer__aside p {
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside p {
        color: #f74848;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside p:hover {
        background-color: rgb(251, 186, 186);
    }
}

.if-edit {
    padding: 1rem;
}

/* INDEX ASIDE END */

/* GENERAL FOOTER START */
.ft-bg {
    background: rgb(99, 255, 245);
    background: linear-gradient(90deg, rgba(99, 255, 245, 1) 0%, rgba(128, 190, 251, 1) 46%, rgba(255, 255, 255, 1));
}

.ft__a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.ft__a:hover {
    color: rgb(249, 81, 81);
}

.ft__p {
    font-size: 1rem;
}








/* GENERAL FOOTER END  */

/* TALLES MAIN START*/
.main__img {
    display: flex;
    justify-content: center;
    height: 25rem;
    margin: 15px 0 15px 0;
}

.main__img:hover {
    transition: transform 0.5s ease;
    transform: scale(1.05);

}

/* TALLES MAIN END */

/* TALLES SECTION START */
.st_tb {
    text-align: center;
    font-weight: bold;
    font-family: 'Ysabeau SC', sans-serif;
}

/* TALLES SECTION END */

/* TALLES FIGURE START */
.figure_alert {
    display: flex;
    justify-content: center;
    margin: 0 15px 0 15px;
    font-family: 'Ysabeau SC', sans-serif;
    ;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 40px;
    background: rgb(255, 35, 35);
    background: linear-gradient(90deg, rgba(255, 35, 35, 1) 0%, rgba(239, 162, 252, 1) 100%);
}

.figure__video {
    display: inline-flex;
    width: 100%;
    margin: 1rem;
    justify-content: center;


}

.figure__video__edit {
    width: 50rem;
    margin: 1rem;
}

@media screen and (max-width: 992px) {
    .figure__video__edit {
        width: 30rem;
    }
}

@media screen and (max-width: 576px) {
    .figure__video__edit {
        width: 22rem;
    }
}

.figure__p {
    border: none;
    font-size: 1rem;
    font-family: inherit;
    color: #000000;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.figure__p:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.figure__p:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 35px;
    transition: 1s;
}

.figure__p:hover::before {
    filter: blur(20px);
}

.figure__p:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

/* TALLES FIGURE END */

/* POLITICA DE DEVOLUCION MAIN START */
.main__h1 {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.main__h1,
.main__h1::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

.main__h1::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "Politica de devolución";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.main__h1:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/* POLITICA DE DEVOLUCION MAIN END*/

/* POLITICA DE DEVOLUCION SECTION START */
.pdd__section {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.pdd__section_div {
    margin: 10px;
    font-family: sans-serif, arial;
}

.pdd__section_div:hover {
    background-color: #cff5f0;
}

.pdd-icon {
    padding: 10px;
    color: #ff013c;
}

/* POLITICA DE DEVOLUCION SECTION END */

/* POLITICA DE DEVOLUCION FIGURE START */
.pdd__figure {
    display: flex;
    justify-content: center;
    margin: 30px 0 70px 0;
}

@media screen and (max-width: 768px) {
    .pdd__figure {
        display: none;
    }
}


/* POLITICA DE DEVOLUCION FIGURE END */

/* CONTACTO MAIN START */
.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

/* CONTACTO MAIN END */

/* UBICACION MAIN START */
.ub__main {
    margin: 50px 30px 50px 30px;
}

.ub__main__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: rgb(249, 81, 81);
    margin-bottom: 30px;

}

#ub__main__map {
    background-color: #70c3be;
    letter-spacing: 2px;
}

#ub__main__map a {
    color: #fff;
    text-decoration: none;
}


@media (max-width: 575.98px) {

    #ub__main__map {
        padding-bottom: 800px;
    }

    #ub__main__map .maps iframe {
        width: 100%;
        height: 450px;
    }
}


@media (min-width: 576px) {

    #ub__main__map {
        padding-bottom: 800px;
    }

    #ub__main__map .maps iframe {
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 768px) {

    #ub__main__map {
        padding-bottom: 350px;
    }

    #ub__main__map .maps iframe {
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 992px) {
    #ub__main__map {
        padding-bottom: 200px;
    }

    #ub__main__map .maps iframe {
        width: 100%;
        height: 700px;
    }
}