/* FUENTE GEOLOGICA DE GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Ysabeau+SC&display=swap");
/* font-family: 'Geologica', sans-serif;
   font-family: 'Ysabeau SC', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  margin: 0; }

html {
  font-size: 62, 5%;
  font-family: 'Geologica', sans-serif; }

.bg-nav {
  background: #63fff5;
  background: linear-gradient(90deg, #63fff5 0%, #80befb 46%, #d2f4f9); }
  .bg-nav .img-logo {
    width: 6rem; }
  .bg-nav .li-edit:hover {
    color: #f62d2d; }
  .bg-nav .dw-colors {
    background-color: #ff5a5a;
    text-decoration: underline; }
  .bg-nav .dw-colors:hover {
    background-color: rgba(249, 3, 3, 0.4); }
  .bg-nav .sb-edit:focus {
    border: 2px solid rgba(249, 3, 3, 0.3); }

.main__tittle {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: 3rem;
  background-image: url("../img/bannerojos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60rem;
  color: white; }

.main__tittle:hover {
  transition: transform 0.7s ease;
  transform: scale(1.1); }

@media screen and (max-width: 992px) {
  .main__tittle {
    background-size: 50rem; } }

@media screen and (max-width: 689px) {
  .main__tittle {
    background-image: none;
    color: #fc7f7f; } }

.slide {
  margin-top: 10px; }
  .slide .slide img {
    height: 65vh; }
  .slide .cr_bt {
    color: #f97c7c;
    font-weight: bold; }

.subtittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 2rem 5rem 2rem;
  background-color: #00e6f6;
  border-radius: 40px;
  background: #63fff5;
  background: linear-gradient(90deg, #63fff5 0%, #80befb 46%, #d2f4f9);
  text-transform: uppercase;
  color: white; }
  .subtittle .subtittle__h2 {
    padding: 1rem; }

.flexcontainer__section1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%; }
  .flexcontainer__section1 .section1__article {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 40px 0;
    gap: 13px; }
  .flexcontainer__section1 .section1__img {
    width: 30rem;
    margin: 10px; }
  .flexcontainer__section1 .section1__img:hover {
    transition: transform 0.4s ease;
    transform: scale(1.1); }
  .flexcontainer__section1 .section__button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    letter-spacing: 2px;
    color: #f76565;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; }
  .flexcontainer__section1 .section__button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; }
  .flexcontainer__section1 .section__button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1; }
  .flexcontainer__section1 .section__button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #f04c4c;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1; }
  .flexcontainer__section1 .section__button:hover {
    color: #ffffff;
    border: 1px solid #f04c4c; }
  .flexcontainer__section1 .section__button:hover:before {
    top: -35%;
    background-color: #f04c4c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8); }
  .flexcontainer__section1 .section__button:hover:after {
    top: -45%;
    background-color: #f04c4c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8); }

.section__p {
  font-family: 'Geologica', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #f04c4c;
  border-radius: 15px;
  padding: 15px; }

.flexcontainer__section2 {
  display: flex;
  justify-content: center;
  margin-bottom: 12rem; }
  .flexcontainer__section2 .section2 {
    margin-top: 3rem; }
  .flexcontainer__section2 .section2__article {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 10px; }
  .flexcontainer__section2 .section2__img {
    width: 30rem;
    margin: 10px; }
  .flexcontainer__section2 .section2__img:hover {
    transition: transform 0.4s ease;
    transform: scale(1.1); }
  .flexcontainer__section2 .section__button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    letter-spacing: 2px;
    color: #f76565;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; }
  .flexcontainer__section2 .section__button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; }
  .flexcontainer__section2 .section__button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1; }
  .flexcontainer__section2 .section__button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #f04c4c;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1; }
  .flexcontainer__section2 .section__button:hover {
    color: #ffffff;
    border: 1px solid #f04c4c; }
  .flexcontainer__section2 .section__button:hover:before {
    top: -35%;
    background-color: #f04c4c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8); }
  .flexcontainer__section2 .section__button:hover:after {
    top: -45%;
    background-color: #f04c4c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8); }

.flexcontainer__aside {
  display: flex;
  align-items: center;
  margin: 10rem;
  flex-direction: column;
  gap: 40px;
  font-size: 1.3rem;
  background-image: url("../img/banner shinobi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50rem; }
  .flexcontainer__aside p {
    color: white;
    font-weight: bold; }
  .flexcontainer__aside .if-edit {
    padding: 1rem; }

@media screen and (max-width: 768px) {
  .flexcontainer__aside {
    background-size: 50rem; } }

@media screen and (max-width: 689px) {
  .flexcontainer__aside {
    background-image: none; } }

@media screen and (max-width: 689px) {
  .flexcontainer__aside p {
    color: #f74848; } }

@media screen and (max-width: 689px) {
  .flexcontainer__aside p:hover {
    background-color: #fbbaba; } }

.ft-bg {
  background: #63fff5;
  background: linear-gradient(90deg, #63fff5 0%, #80befb 46%, white); }
  .ft-bg .ft__a {
    text-decoration: none;
    font-size: 1rem;
    color: black; }
  .ft-bg .ft__a:hover {
    color: #f95151; }
  .ft-bg .ft__p {
    font-size: 1rem; }
