.ft-bg {
@include GradientBackground();

    .ft__a {
        text-decoration: none;
        font-size: 1rem;
        color: black;
        font-weight: bold;
    }

    .bounce-edit {
        padding-right: 10px;
    }

    .ft__a:hover {
        color: $color-blanco;
    }

    .ft__p {
        font-size: 1rem;
    }
}