.ft-bg {
    background: rgb(99, 255, 245);
    background: linear-gradient(90deg, rgba(99, 255, 245, 1) 0%, rgba(128, 190, 251, 1) 46%, rgba(255, 255, 255, 1));

    .ft__a {
        text-decoration: none;
        font-size: 1rem;
        color: black;
    }

    .ft__a:hover {
        color: rgb(249, 81, 81);
    }

    .ft__p {
        font-size: 1rem;
    }
}