.bg-nav {
@include GradientBackground();
}

    .img-logo {
        width: 6rem;
        transition: transform 0.3s ease;
    }

    .img-logo:hover {
        transform: rotate(10deg);
    }

    .li-edit {
        font-weight: 500;
    }
    .li-edit:active{
        text-decoration: underline;
        color: black;
    }
    .li-edit:hover {
        color: $color-blanco;
    }

    .dw-colors {
        background-color: rgb(255, 90, 90);
        text-decoration: underline;
    }

    .dw-colors:hover {
        background-color: $color-blanco;
    }

    .sb-edit:focus {
        border: 2px solid $color-blanco;
    }