.main__tittle {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 3rem;
    background-image: url('../img/bannerojos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
    color: $color-blanco;
}

.main__tittle:hover {
    transition: transform 0.7s ease;
    transform: scale(1.1);
}


@media screen and (max-width: 992px) {
    .main__tittle {
        background-size: 50rem;
    }
}

@media screen and (max-width: 689px) {
    .main__tittle {
        background-size: 30rem;
    }

    h1 {
        font-size: 0.9rem;
        text-align: center;
    }
}

@media screen and (max-width: 470px) {
    .main__tittle {
        background-image: none;
        @include GradientBackground();
        color: $color-blanco;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        h1 {
            font-size: 0.9rem;
            text-align: center;
        }
    }
}

.carrousel__set {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    .carrousel__size {
        width: 65%;
        margin: 3rem;
    }

    .carrousel-caption {
        top: 0;
        bottom: auto;
    }

    .carousel__img__p {
        color: $color-amarillo;
        font-weight: bold;
    }
}

.slide {
    margin-top: 10px;

    .slide img {
        height: 65vh;
    }

    .cr_bt {
        color: $color-rojo;
        font-weight: bold;
    }
}

.subtittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    background-color: #00e6f6;
    border-radius: 40px;
    background: rgb(252, 82, 82);
    background: linear-gradient(315deg, rgba(252, 82, 82, 1) 21%, rgba(194, 143, 255, 1));
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    .subtittle__h2 {
        display: flex;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .subtittle__h2 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 350px) {
    .subtittle__h2 {
        font-size: 0.6rem;
    }
}

.section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;

    .border__del {
        border: none;
    }

    .card_section {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 1rem 4rem 1rem;
        text-align: center;
        transition: box-shadow 0.3s ease;

        img {
            width: 17rem;
            padding-top: 1.5rem;
        }

        .border__del {
            display: flex;
            align-items: center;
        }

        img:hover {
            transition: transform 0.4s ease;
            transform: scale(1.1);
        }

        h5 {
            color: $color-negro;
            border-radius: 30px;
            padding: 1rem;
            cursor: default;
            font-weight: bold;
        }

        li {
            color: $color-blanco;
            @include GradientBackground();
            border-radius: 30px;
            margin: 1rem;
        }

        a {
            color: $color-negro;
            text-decoration: none;
            border-radius: 30px;
            padding: 1rem;
            margin: 1rem;
        }

        .card-body {
            margin: 1rem;
        }
    }

}

.card_section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn1 {
    --color: rgb(133, 75, 205);
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    font-weight: bold;
}

.btn1::after,
.btn1::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn1::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn1:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn1:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn1:hover {
    color: var(--color2);
}

.btn1:active {
    filter: brightness(.7);
    transform: scale(.98);
}







.aside__flexcontainer {
    display: flex;
    justify-content: space-between;
    background-color: $color-blanco;
    overflow: auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .info-slide {
        padding: 2.1rem;
        position: relative;
        text-align: center;
    }

    .img-container {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .aside__flexcontainer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside {
        background-image: none;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside p {
        color: $color-rojo;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside p:hover {
        background-color: $color-rojo;
    }
}

.aside__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;

    .aside__img {
        width: 10rem;
        transition: transform 1s ease;
        animation: flip 4s linear infinite;
        transform-style: preserve-3d;
    }
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 3rem;
}

.whatsapp-float img {
    width: 60px;
    height: auto;
}

.fa-edit {
    color: rgb(45, 245, 0);
}