
.main__tittle {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 3rem;
    background-image: url('../img/bannerojos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
    color: white;
}

.main__tittle:hover {
    transition: transform 0.7s ease;
    transform: scale(1.1);
}


@media screen and (max-width: 992px) {
    .main__tittle {
        background-size: 50rem;
    }
}

@media screen and (max-width: 689px) {
    .main__tittle {
        background-image: none;
        color: #fc7f7f;
    }
}

.carrousel__set {
    display: flex;
    align-items: center;
    flex-direction: column;

    .carrousel__size {
        width: 80%;
        margin: 3rem;
    }
}

.slide {
    margin-top: 10px;

    .slide img {
        height: 65vh;
    }

    .cr_bt {
        color: rgb(249, 124, 124);
        font-weight: bold;
    }
}

.subtittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    background-color: #00e6f6;
    border-radius: 40px;
    background: rgb(99, 255, 245);
    background: linear-gradient(90deg, rgba(99, 255, 245, 1) 0%, rgba(128, 190, 251, 1) 46%, rgb(210, 244, 249));
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    .subtittle__h2 {
        margin: 0;
    }
}

.section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .border__del {
        border: none;
    }
    .card_section {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 1rem 4rem 1rem;
        text-align: center;
    
        img {
            width: 18rem;
        }
    
        img:hover {
            transition: transform 0.4s ease;
            transform: scale(1.1);
        }
    
        h5 {
            color: rgb(255, 255, 255);
            background-color: #f74848;
            border-radius: 30px;
            padding: 1rem;
        }
    
        li {
            color: rgb(255, 255, 255);
            background-color: rgb(238, 142, 39);
            border-radius: 30px;
            margin: 1rem;
        }
    
        a {
            color: #ffffff;
            text-decoration: none;
            background-color: #f74848;
            border-radius: 30px;
            padding: 1rem;
            margin: 1rem;
        }
    
        .card-body {
            margin: 1rem;
        }
    }
}







.flexcontainer__aside {
    display: flex;
    align-items: center;
    margin: 4rem 8rem 8rem 8rem;
    flex-direction: column;
    gap: 40px;
    font-size: 1.3rem;
    background-image: url('../img/banner\ shinobi.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50rem;

    p {
        color: white;
        font-weight: bold;
    }

    .if-edit {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .flexcontainer__aside {
        background-size: 50rem;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside {
        background-image: none;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside p {
        color: #f74848;
    }
}

@media screen and (max-width: 689px) {
    .flexcontainer__aside p:hover {
        background-color: rgb(251, 186, 186);
    }
}
